*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: "Space Grotesk", sans-serif;
    overflow-x: hidden;
}
.landingpage{
    height: 771px;
    margin-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.navbar{
    height: 68px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 36px;
    width: 219.54px;
    margin: 10px 0;
}
.texts{
    width: 766px;
    height: 68px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 0;
}
.req{
    width: 231px;
    height: 68px;
    border: 1px solid #191A23;
    background-color: white;
    border-radius: 14px;
    padding: 20px 35px;
    font-weight: 400;
    font-size: 20px;
}

.header{
    margin: 70px 0;
    display: flex;
    gap: 108.54px;
}
.firstp{
    margin-bottom: 34px;
}
.ill{
    width: 500.46px;
    height: 515px;
}
.h1{
    width: 531px;
    height: 231px;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 35px;
}
.p1{
    width: 498px;
    height: 112px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}
.book{
    width: 264px;
    height: 68px;
    color: white;
    background-color: #191A23;
    border: 1px solid #191A23;
    border-radius: 14px;
    font-size: 20px;
}

.logos{
    display: flex;
    justify-content: space-between;
}
.log{
    width: 124.11px;
    height: 48px;
}


.ser{
    margin-top: 140px;
    margin-bottom: 80px;
    height: 51px;
    display: flex;
    padding: 0 100px;
    gap: 50px;
}
.h2{
    color: black;
    width: 178px;
    height: 51px;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 7px;
    padding: 0 7px;
    font-weight: 500;
    font-size: 40px;
}
.p2{
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
}


.ser-block{
    height: 310px;
    padding: 0 60px;
    margin-bottom: 80px;
}
.cards-sec{
    display: flex;
    gap: 40px;
}
.card1{
    width: 600px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid #191A23;
    box-shadow: 0 8px 10px #191A23;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}
.card2{
    width: 600px;
    height: 310px;
    background-color: #B9FF66;
    border: 1px solid #191A23;
    box-shadow: 0 8px 10px #191A23;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}
.card-content{
    width: 221px;
    height: 210px;
    margin: 50px;
}
.cardill1{
    width: 210px;
    height: 170px;
    margin: 70px 50px;
}
.h3{
    border: 1px solid #B9FF66;
    border-radius: 7px;
    width: 221px;
    height: 38px;
    background-color: #B9FF66;
    font-size: 30px;
    font-weight: 500;
}
.h4{
    border: 1px solid #B9FF66;
    border-radius: 7px;
    width: 197px;
    height: 38px;
    background-color: #B9FF66;
    font-size: 30px;
    font-weight: 500;
}
.icon{
    margin-top: 93px;
}
.icon2{
    margin-top: 63px;
}
.more{
    position: absolute;
    padding: 5px;
    margin: 5px;
    margin-left: 15px;
}

.h5{
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    width: 212px;
    height: 51px;
    padding: 0 7px;
    font-weight: 500;
    font-size: 30px;
}
.h6{
    border: 1px solid white;
    border-radius: 7px;
    width: 178px;
    height: 38px;
    padding: 0 7px;
    background-color: white;
    font-size: 30px;
    font-weight: 500;
}
.p3{
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
}
.p9{
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
}
.h7{
    color: black;
    width: 415px;
    height: 51px;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 7px;
    padding: 0 7px;
    font-weight: 500;
    font-size: 40px;
}

.processblock{
    height: 1224px;
    margin: 0 100px;
}
.block1{
    background-color: #B9FF66;
    height: 279px;
    border-radius: 45px;
    padding: 40px 60px;
    box-shadow: 0 8px 10px #191A23;
}
.pi-sub{
    display: none;
}
.f{
    display: flex;
    gap: 30px;
}
.f1{
    width: 65px;
    height: 77px;
    font-weight: 500;
    font-size: 60px;
}
.f2{
    width: 612px;
    height: 38px;
    font-size: 30px;
    font-weight: 500;
    margin: 19.5px 0 19.5px 0;
}
hr{
    border: solid 1px #191A23;
    margin: 30px 0;
}
.ll{
    font-weight: 400;
    font-size: 18px;
    height: 60px;
}

.fl{
    margin: 30px 0;
    height: 159px;
    border: 1px solid #191A23;
    box-shadow: 0 8px 10px #191A23;
    border-radius: 45px;
    background-color: #F3F3F3;
    display: flex;
    gap: 35px;
    padding: 40px 60px;
}
.pi{
    width: 58px;
    height: 58px;
    margin: 9.5px 0 9.5px 290px;
}
.h6{
    color: black;
    width: 232px;
    height: 51px;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 7px;
    padding: 0 7px;
    font-weight: 500;
    font-size: 40px;
}
.h9{
    color: black;
    width: 232px;
    height: 51px;
    background-color: white;
    border-radius: 7px;
    padding: 0 7px;
    font-weight: 500;
    font-size: 40px;
}

.contact-block{
    /* border: solid 1px black; */
    height: 773px;
    margin: 80px 100px;
    border-radius: 45px;
    background-color: #F3F3F3;
    padding: 60px 0 80px 100px;
}
.contact-cards{
    position: relative;
    display: flex;
    gap: 217px;
}
.contact-text{
    width: 556px;
    height: 633px;
}
.contact-ill img{
    position: absolute;
    right: -330px;
    width: 700px;
    height: 633px;
}

.radio{
    display:flex;
    align-items:center;
    gap:12px;
}
.hi1{
    width: 28px;
    height: 28px; 
    accent-color: #B9FF66;
}
.hi2{
    font-weight: 400;
    font-size: 18px;
    margin-right: 25px;

}
.quote1{
    width: 28px;
    height: 28px;
    padding: 5px;
}
.name{
    margin-top: 40px;
}
.n{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.t{
    width: 556px;
    height: 59px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 18px 30px;
}
.m{
    width: 556px;
    height: 190px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 18px 30px;
}
.submit{
    width: 556px;
    height: 68px;
    margin-top: 40px;
    background-color: #191A23;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 207.5px;
}
.send{
    font-size: 20px;
    width: 141px;
    height: 28px;
    color: white;
    font-weight: 400;
}


footer{
    height: 514px;
    margin-top: 140px;
    padding: 0 100px;
}
.foot{
    height: 514px;
    background-color: #191A23;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 55px 60px 50px 60px;
}

.nav-contact{
    height: 281px;
}
.elements{
    display: flex;
    justify-content: space-between;
}
.ellogo{
    width: 180px;
    height: 29px;
}
.elnav{
    width: 501px;
    height: 23px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.elnav a{
    color: white;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}
.elic {
    width: 130px;
    height: 30px;
    display: flex;
    gap: 15px;
}
.elic img{
    width: 30px;
    height: 30px;
}


.frame26{
    margin-top: 66px;
    height: 185px;
    display: flex;
    justify-content: space-between;
    gap: 154px;
}
.contactus{
    width: 332px;
    height: 185px;
}
.cont{
    width: 126px;
    height: 26px;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.info{
    width: 332px;
    height: 132px;
    margin-top: 27px;
}
.info p{
    color: white;
    margin-bottom: 20px;
}

.subscription{
    background-color: #292A32;
    width: 634px;
    height: 184px;
    border: 1px solid #292A32;
    border-radius: 14px;
    display: flex;
    padding: 58px 40px;
}
#email{
    width: 220px;
    height: 67px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    background-color: transparent;
    padding: 22px 35px;
    margin-right: 25px;
}
.sub button{
    width: 249px;
    height: 68px;
    background-color: #B9FF66;
    border: 1px solid #B9FF66;
    border-radius: 14px;
    padding: 20px 35px;
    font-size: 17px;
    font-weight: 400;
}

.line-text{
    margin-top: 50px;
    width: 1040px;
    height: 78px;
}
.line-text hr{
    margin-top: -3px;
    width: 1040px;
    border: 1px solid white;
}
.lt{
    margin-top: 55px;
    color: white;
    display: flex;
    gap: 40px;
}
.burger{
    display: none;
}

